@import "tailwindcss";

:root {
  /* Background Colors */
  --bg-primary: #050505;
  --bg-accent: #0663cd;
  --bg-green-100: #1ed760;
  --bg-dark: #101828;
  --bg-green-bright: #00c950;

  /* Text Colors */
  --text-primary: #fff;
  --text-accent: #2577ff;
  --text-accent-10: #62abff;
  --blue-300: #01aaff;
  --text-secondary: #e5e5e5;
  --text-secondary-10: #84858d;
  --text-secondary-20: #5c5d60;
  --text-secondary-30: #d4e3ef;
  --text-secondary-40: #4d4c4c;
  --text-secondary-50: #121212;
  --text-secondary-60: #d1d5dc;
  --text-secondary-70: #99a1af;
  --text-secondary-80: #e5e7eb;
  --text-secondary-90: #52525c;
  --text-secondary-100: #9f9fa9;
  --text-purple-light: #e9d4ff;

  --text-pink-10: #fe06a3;
  --text-red-10: #ff0000;

  /* Border Colors */
  --border-dark: #1e2939;

  /* Font Families */
  --font-rethinksans: "Rethink_Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-opensans: "Open_Sans", sans-serif;
  --font-arial: "Arial", sans-serif;
}

@theme inline {
  --color-black-100: var(--bg-primary);
  --color-white: var(--text-primary);
  --color-blue-100: var(--bg-accent);
  --color-blue-200: var(--text-accent);
  --color-blue-300: var(--text-accent);
  --color-blue-400: var(--text-accent-10);
  --color-gray-100: var(--text-secondary);
  --color-gray-200: var(--text-secondary-10);
  --color-gray-300: var(--text-secondary-20);
  --color-gray-400: var(--text-secondary-30);
  --color-gray-500: var(--text-secondary-40);
  --color-gray-600: var(--text-secondary-50);
  --color-gray-700: var(--text-secondary-60);
  --color-gray-800: var(--text-secondary-70);
  --color-gray-900: var(--text-secondary-80);
  --color-gray-dark: var(--text-secondary-90);
  --color-gray-1000: var(--text-secondary-100);
  --color-purple-light: var(--text-purple-light);
  --color-green-100: var(--bg-green-100);
  --color-green-bright: var(--bg-green-bright);
  --color-pink-100: var(--text-pink-10);
  --color-red-100: var(--text-red-10);
  --color-dark: var(--bg-dark);
  --color-border-dark: var(--border-dark);

  --font-inter: var(--font-inter);
  --font-opensans: var(--font-opensans);
  --font-rethinksans: var(--font-rethinksans);
  --font-arial: var(--font-arial);
}

@font-face {
  font-family: 'Arial Custom';
  src: url('/font-arial/ARIAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-arial-custom {
  font-family: 'Arial Custom', sans-serif;
}


@theme {
  --font-rethink: var(--font-rethink);
  --font-inter: var(--font-inter);
  --font-open-sans: var(--font-open-sans);
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%) skewX(-20deg);
    }

    100% {
      transform: translateX(250%) skewX(-20deg);
    }
  }
}

.btn-liquid {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
  background: transparent;
  border: 1px solid #0663CD;
}

.btn-liquid:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  top: -35%;
  width: 140%;
  height: 180%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-liquid:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1.3) scaleX(1.45);
  top: -45%;
  width: 160%;
  height: 190%;
  background: linear-gradient(90deg, #0663CD 0%, #01AAFF 100%);
  border-radius: 50%;
  display: block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-liquid:hover:before {
  top: 100%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
}

.btn-liquid:hover:after {
  top: 140%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
}

body {
  font-family: var(--font-open-sans), sans-serif;
  box-sizing: border-box;
  background: #050505;
  color: white;
}

.custom-scroll {
  overflow-x: auto;
}

/* ===== Chrome, Edge, Safari ===== */
.custom-scroll::-webkit-scrollbar {
  height: 14.24px;
  width: 14.24px;
  background: #FFFFFF1A;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #FFFFFF1A;
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      #FFFFFF1A,
      #FFFFFF1A);
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* ===== Firefox ===== */
.custom-scroll {
  scrollbar-width: 14px;
  scrollbar-color: #e6e6e6 #FFFFFF1A;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  width: max-content;
}


.font-responsive-heading {
  font-family: var(--font-rethink);
}

@media (min-width: 768px) {
  .font-responsive-heading {
    font-family: var(--font-inter);
  }
}

@property --border-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

@keyframes border-rotate {
  from {
    --border-angle: 0deg;
  }

  to {
    --border-angle: 360deg;
  }
}

.animate-vip-border {
  --border-angle: 0deg;
  animation: border-rotate 1.5s linear infinite;
}@keyframes slide-up-out {
  0% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(-30px); opacity: 0; }
}

@keyframes slide-up-in {
  0% { transform: translateY(30px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-slide-up-out {
  animation: slide-up-out 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.animate-slide-up-in {
  animation: slide-up-in 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
