@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import "tailwindcss";

@theme {
  --font-rethink: var(--font-rethink);
  --font-inter: var(--font-inter);
}

body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background: #050505;
  color: white;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-rethink {
  font-family: var(--font-rethink);
}