@import "tailwindcss";

@font-face {
  font-family: 'Arial Custom';
  src: url('/font-arial/ARIAL.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-arial-custom {
  font-family: 'Arial Custom', sans-serif;
}


@theme {
  --font-rethink: var(--font-rethink);
  --font-inter: var(--font-inter);
  --font-open-sans: var(--font-open-sans);
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    0% {
      transform: translateX(-100%) skewX(-20deg);
    }

    100% {
      transform: translateX(250%) skewX(-20deg);
    }
  }
}

.btn-liquid {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.3s ease;
  background: transparent;
  border: 1px solid #0663CD;
}

.btn-liquid:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  top: -35%;
  width: 140%;
  height: 180%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-liquid:after {
  content: "";
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1.3) scaleX(1.45);
  top: -45%;
  width: 160%;
  height: 190%;
  background: linear-gradient(90deg, #0663CD 0%, #01AAFF 100%);
  border-radius: 50%;
  display: block;
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-liquid:hover:before {
  top: 100%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
}

.btn-liquid:hover:after {
  top: 140%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
}

body {
  font-family: var(--font-open-sans), sans-serif;
  box-sizing: border-box;
  background: #050505;
  color: white;
}

.custom-scroll {
  overflow-x: auto;
}

/* ===== Chrome, Edge, Safari ===== */
.custom-scroll::-webkit-scrollbar {
  height: 14.24px;
  width: 14.24px;
  background: #FFFFFF1A;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #FFFFFF1A;
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,
      #FFFFFF1A,
      #FFFFFF1A);
  border-radius: 999px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* ===== Firefox ===== */
.custom-scroll {
  scrollbar-width: 14px;
  scrollbar-color: #e6e6e6 #FFFFFF1A;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
  width: max-content;
}

.pause-on-hover:hover .animate-marquee {
  animation-play-state: paused;
}

.font-responsive-heading {
  font-family: var(--font-rethink);
}

@media (min-width: 768px) {
  .font-responsive-heading {
    font-family: var(--font-inter);
  }
}